body {
    font-family: Rustico, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 2;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #007BFF; /* Warna latar belakang */
    background-image: url('Fotbar.jpg'); /* Gambar latar belakang (opsional) */
    background-size: cover; /* Mengatur gambar untuk menutupi area header */
    background-position: center; /* Memusatkan gambar */
    height: 200px; /* Tinggi header */
    display: flex;
    align-items: center; /* Vertikal center */
    justify-content: center; /* Horizontal center */
    color: white; /* Warna teks */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Bayangan untuk teks */
}

main {
    padding: 20px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}


main {
    padding: 20px;
    border-top: 10px solid #000000; /
}

h1 {
    font-size: 40px; /* Ukuran font yang besar */
    margin: 0; /* Menghapus margin default */
    text-shadow: 4px 4px 8px rgba(0, 0, 0.5, 1);
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 25px;
    border: 2px solid #000000;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}
